<header class="mdl-layout__header mdl-layout__header--transparent">
  <div class="mdl-layout__header-row">

    <!-- Title -->
    <span class="mdl-layout-title">STF</span>

    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>

    <!-- Navigation with router directives-->
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" [routerLink]="['/']">Home</a>
      <a class="mdl-navigation__link" [routerLink]="['/home']">Home</a>
      <a class="mdl-navigation__link" [routerLink]="['/login']">Login</a>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
